<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Department</title>
</head>
<body>
<h1>Edit Department</h1>
<form th:action="@{/depts/edit}" th:object="${dept}" method="post">
  <label>Dept No: <input type="text" th:field="*{deptno}" readonly="readonly" /></label><br>
  <label>Name: <input type="text" th:field="*{dname}" /></label><br>
  <label>Location: <input type="text" th:field="*{loc}" /></label><br>
  <button type="submit">Save</button>
</form>
<a th:href="@{/depts}">Back to list</a>
</body>
</html>
