<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{change.pwd.title}">Change Password</title>
</head>
<body>
<form th:action="@{/change-password}" th:object="${passwordCommand}" method="post">
    <p>
        <label>
            <span th:text="#{currentPassword}">Current Password</span>:<br>
            <input type="password" th:field="*{currentPassword}" />
            <div th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">Current Password Error</div>
        </label>
    </p>
    <p>
        <label>
            <span th:text="#{newPassword}">New Password</span>:<br>
            <input type="password" th:field="*{newPassword}" />
            <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password Error</div>
        </label>
    </p>
    <input type="submit" th:value="#{change.btn}" />
</form>
</body>
</html>
